$lightColor: #FBFFFE;
$redColor: #96031A;
$yellowColor: #FAA916;
$blackColor: #1B1B1E;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $lightColor;
    color: $blackColor;
}

ul {
    list-style: none;
    padding: 0;

    li {
        display: inline;
    }
}

header {
    text-align: center;
    background-color: $redColor;
    color: $lightColor;
    width: 100%;
    height: 150px;
    margin: 0 0 3em 0;

    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        text-align: center;
        padding: 10px 0;
    }

    nav ul a {
        text-decoration: none;
        color: $lightColor;
        padding: 10px 0;
        margin: 0;
        width: 200px;
        display: inline-block;
        border-radius: 10px;
    }

    nav ul a:hover {
        background-color: $yellowColor;
        text-decoration: none;
        color: $lightColor;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 80%;
    display: none;

    div.column {
        padding: 0 2% 0 0;
        width: 30%;
        display: inline-block;
        vertical-align: top;

        #discard {
            opacity: .7;
        }

        .hiddenElement {
            visibility: hidden
        }

        .showHidden {
            visibility: visible
        }
    }

    div.column:first-of-type {
        width: 36.5%;
        padding: 0 5% 0 3.5%;
    }
}


section.buttons {
    flex: 20%;
    padding-top: 40px;
    align-content: flex-start;

    ul {
        padding: 0 0 0 40px;

        button {
            background-color: $redColor;
            padding: 10px;
            margin: 10px 0 0 0;
            color: $lightColor;
            border: none;
            display: block;
            border-radius: 10px 0 0 10px;
            flex-direction: column;
            width: 100%;
        }

        button:hover {
            background-color: $yellowColor;
            color: $lightColor;
            border: none;
        }

        #restart {
            display: none;
            background-color: $yellowColor;
        }

        #restart:hover {
            background-color: $redColor;
        }
    }

    ul.padRemove {
        padding: 0;
    }
}

section.fixed {
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 100px;
    padding: .5em;
    background-color: $yellowColor;
    color: $lightColor;
    z-index: 10;
}

section.score {
    padding: 0 0 30px 50px;
    display: none;

    table {
        thead {
            background-color: $yellowColor;
        }

        td {
            border: 1px solid $blackColor;
            padding: .5em;
            width: 100px;
            text-align: center;
            //make fourth column broader
        }
    }
}

form {
    padding: 0 0 0 50px;

    legend {
        font-weight: bold;
    }

    #name {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 2px 2px 2px 5px;
    }

    #name:focus {
        border: 1px solid $blackColor;
    }
}

@media screen and (max-width: 730px), screen and (max-device-width: 730px) {
    .row {
        flex-direction: column;
    }

    main {
        margin: 0 5% 0 5%;
    }

    section.buttons {
        padding-top: 0px;
        flex: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        ul {
            padding: 100px 0 0 0px;

            button {
                margin-right: 5px;
                margin-left: 5px;
                display: inline-block;
                border-radius: 10px;
                flex-direction: row;
                width: 100px;
            }
        }
    }
}

@media screen and (max-device-width: 730px) {
    body {
        font-size: small;
    }

    header {
        height: 110px;

        h1 {
            font-size: 40px;
            margin: 0;
        }

        nav ul a {
            width: 100px;
            padding: 0px;
            margin: auto;
        }
    }

    main {
        margin: 0;
    }

    section.fixed {
        bottom: 30px;
    }
}
