body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FBFFFE;
    color: #1B1B1E;
}

header {
    text-align: center;
    background-color: #96031A;
    color: #FBFFFE;
    width: 100%;
    height: 150px;
    border: 0;
    z-index: 10;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
    padding: 10px 0;
}

ul {
    list-style: none;
}

    ul li {
        display: inline;
    }

nav ul a {
    text-decoration: none;
    color: #FBFFFE;
    padding: 10px 0;
    margin: 0;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
}

    nav ul a:hover {
        background-color: #FAA916;
        text-decoration: none;
        color: #FBFFFE;
    }

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

main {
    flex: 80%;
    padding: 20px 0 0px 50px;
    display: none;
}

    main div.column {
        padding: 0 10px 0 0;
        width: 24%;
        display: inline-block;
        vertical-align: top;
    }

        main div.column:first-of-type {
            width: 34%;
            padding: 0 50px 0 20px;
        }

#discard {
    opacity: .8;
}


.hiddenElement {
    visibility: hidden
}

.showHidden {
    visibility: visible
}

section.buttons {
    flex: 20%;
    padding-top: 40px;
    align-content: flex-start;
}

/*.addPadding {
    padding-top: 100px;
}*/

ul button {
    background-color: #96031A;
    padding: 10px;
    margin: 10px 0 0 0;
    color: #FBFFFE;
    border: none;
    display: block;
    border-radius: 10px 0 0 10px;
    flex-direction: column;
    width: 100%;
}

    ul button:hover {
        background-color: #FAA916;
        color: #FBFFFE;
        border: none;
    }

#restart {
    display: none;
    background-color: #FAA916;
}

    #restart:hover {
        background-color: #96031A;
    }

section.fixed {
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 100px;
    padding: .5em;
    background-color: #FAA916;
    color: #FBFFFE;
    z-index: 10;
}

section.score {
    padding: 50px 0 30px 50px;
    display: none;
}


table thead {
    background-color: #FAA916;
}

table td {
    border: 1px solid black;
    padding: .5em;
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 730px), screen and (max-device-width: 730px) {
    .row {
        flex-direction: column;
    }

    section.buttons {
        padding-top: 0px;
        flex: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    ul button {
        margin-right: 20px;
        display: inline-block;
        border-radius: 10px 10px 10px 10px;
        flex-direction: row;
        width: 100px;
    }
}
